streamlit==1.35.0
pandas==2.2.2
scikit-learn==1.3.2  # Downgrade to avoid requiring numpy==2.0.0rc1
numpy==1.26.4         # Latest stable as of mid-2025
scipy==1.13.0         # Compatible with sklearn 1.3.2
cython==3.0.10        # Stable version
